<br><br><br>
<h1 class="center-align">Habit Changer</h1>

<div class="row center">
  <h5>Develop a habit in three weeks.</h5>
</div>
<br><br>

<div class="row center">
  <q>We become what we repeatedly do.</q>
</div>

<% if current_user %>
  <br><br>
  <div class="row center">
    <a href="/profile/:id">Get Started</a>
  </div>
<% else %>
  <%= erb :show_flash %>
  <form action="/profile/signin" method="post">
    <label for="email">Email: </label> 
    <input type="text" name="email" id="email" value="testuser@gmail.com"><br>
    <label for="password">Password: </lable>
    <input type="password" name="password" value="password"><br>
    <input type="submit" value="Sign In">
  </form>
  <p><a href="/new_account">Create New Account</a></p>
<% end %>

