<div id="bg">
  <img src= "/images/growth2.jpg">
</div>
<!-- <div id="growth">
  <img src="/images/growth1.jpg">
</div> -->

<h1 id="title">Habit Tracker</h1>

<div>
  <h3 id="index">Growth through habit</h3>
</div>
<br><br>

<div>
  <q>We become what we repeatedly do.</q>
</div>

<% if current_user %>
  <br><br>
  <div id="get_started"><a href="/profile">Get Started</a></div>
<% else %>
  <%= erb :show_flash %>
  <form action="/profile/signin" method="post">
    <label for="email">Email: </label> 
    <input type="text" name="email" id="email" value="testuser@gmail.com"><br>
    <label for="password">Password: </lable>
    <input type="password" name="password" value="password"><br>
    <input type="submit" value="Sign In">
  </form>
  <p><a href="/new_account">Create New Account</a></p>
<% end %>

