<h1>Welcome <%= session[:first_name] %></h1>

<form method="GET" action="/profile/signout">
  <input type="submit" value="signout">
</form>

<% if @habits %>
  <% @habits.each do |habit| %>
    <div>
      <p><%= habit.name %></p>
    </div>
  <% end %>
<% else %>
  <p>You don't have any habits</p>
<% end %>

<div>
  <a href="/form"><p>Add New Habit</p></a>
</div>